<div id="app">
    <div>
        123
    </div>
    <input v-model="roomName" />
    <button v-on:click="CreateRoom()">Create room</button>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Room</th>
                <th>Created Time</th>
                <th>Players</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for ="room in rooms">
                <td>{{room.title}}</td>
                <td>{{room.created}}</td>
                <td>{{room.persons.length}} / 4</td>
            </tr>
        </tbody>
    </table>

    
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="~/js/room.js" asp-append-version="true"></script>
